<!-- app/static/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CurnexaHealthAI</title>
    <!-- Update the path to the CSS file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <h1>CurnexaHealthAI - Patient Data Query</h1>
        <form id="patient-form">
          <label for="FHIR">Enter Patient FHIR ID:</label>
          <input type="text" id="FHIR" name="FHIR" required />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div
        class="results-container"
        id="results"
        style="margin-top: 20px"
      ></div>
    </div>

    <!-- Update the path to the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
