<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CurnexaHealthAI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
  <!-- Sidebar navigation -->
  <div id="sidebar" class="sidebar">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='images/Curnexa_logo.png') }}" alt="Curnexa Logo">
      <h2>Curnexa</h2>
    </div>
    <ul>
      <li>
        <a class="active" href="{{ url_for('medical_history_summary') }}">
          <i class="fas fa-book-medical"></i>
          <span>Medical History Summary</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('lab_compilation') }}">
          <i class="fas fa-vials"></i>
          <span>Research Assistant</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('clinical_decision_support') }}">
          <i class="fas fa-stethoscope"></i>
          <span>Clinical Decision Support</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main content -->
  <div id="main-content">
    <div class="container">
      <div class="form-container">
        <h1>Clinical Decision Support</h1>
        <form id="patient-form">
          <label for="MRN">Patient MRN:</label>
          <input type="text" id="MRN" name="MRN" required />
          <button type="submit">Submit</button>
          <img id="loading-gif" src="{{ url_for('static', filename='images/DuZY.gif') }}" alt="Loading..." style="display: none; max-width: 200px; margin: 20px auto; width: 33%; height: auto; opacity: 0.7;" />
        </form>
      </div>
      <div class="results-container" id="results" style="margin-top: 20px"></div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
