/* static/style.css */
body {
  font-family: Arial, sans-serif;
  color: #505050;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;/* Set a max-width for the container */
  margin: 20px auto; /* Center container in the middle with margin top and bottom */
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  margin-bottom: 20px; /* Add some space between the form and results */
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #50b9c6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #98e1eb;
}

.decision-support {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-bottom: 20px;
}

.decision-support h3 {
  font-size: 1em;
  margin-bottom: 10px;
}

.decision-support p {
  margin-bottom: 10px;
}

.decision-support strong {
  font-weight: bold;
}

.decision-support-list {
  padding-left: 20px; /* Adjust as necessary for your design */
}

.decision-support-list li {
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  align-items: center; /* This vertically centers the image and text */
  justify-content: center; /* This horizontally centers the content if you want */
  padding: 10px; /* Adjust as needed */
}

.logo-container img {
  height: 32px; /* or any other fixed height */
  width: auto; /* maintain aspect ratio */
  margin-right: 10px; /* space between the logo and the text */
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff; /* White background for the sidebar */
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar h2 {
  font-size: 32px;
  text-align: center; /* Center align the 'Curnexa' title */
  color: #505050; /* Light blue color for the 'Curnexa' title */
  margin-bottom: 24px; /* Space after the title */
}

.sidebar ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Align text to the left */
  margin: 0; /* Remove default margin */
}

.sidebar a {
  font-family: Helvetica, sans-serif;
  text-align: left; /* Text aligned to the left */
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: baseline; /* Align items at the start (top) of the container */
  margin-bottom: 10px; /* Space between links */
  padding: 6px 16px; /* Padding inside each link */
  text-decoration: none; /* Remove underline from links */
  font-size: 15px; /* Font size for links */
  font-weight: 550;
  color: #a2a2a2; /* Default link color - grey */
}

.sidebar a.active {
  color: #505050; /* Active link color - dark grey */
}

.sidebar a:hover {
  color: #333; /* Hover link color - darker grey */
  background-color: #f1f1f1; /* Background color on hover */
}

.sidebar a i {
  color: #50b9c6; /* Icon color - matching the 'Curnexa' title */
  margin-right: 8px; /* Space between icon and text */
  min-width: 20px; /* Ensure icons have a consistent width */
  align-self: center;
}

.sidebar a span {
  line-height: 1; /* Adjust line height to ensure proper alignment */
  display: block; /* Ensure span takes the full width */
  margin-top: -0px; /* Adjust this value if the alignment is slightly off */
}

/* Adding padding inside the ul for better alignment with the content */
#main-content {
  padding-left: 270px; /* Adjusted to accommodate sidebar width + padding */
  padding-right: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.table-container {
  width: 100%;
  overflow-x: auto; /* for smaller screens */
}

table {
  width: 100%; /* make table take the full width of its container */
  margin-top: 10px 0 10px 0; /* add some space above the table */
  border-collapse: collapse;
}

th, td {
  text-align: left; /* align text to the left side of table cells */
  padding: 8px; /* add some padding inside table cells */
  border: 1px solid #ddd; /* add a border to all sides of the table cells */
}

button.download-csv {
  padding: 10px 20px;
  margin-top: 20px; /* add space above the button */
  cursor: pointer;
}

/* Responsive table */
@media screen and (max-width: 600px) {
  .table-container {
    width: 100%;
  }
  table {
    display: block;
    overflow-x: scroll;
  }
}