/* static/style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;/* Set a max-width for the container */
  margin: 20px auto; /* Center container in the middle with margin top and bottom */
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  margin-bottom: 20px; /* Add some space between the form and results */
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.decision-support {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-bottom: 20px;
}

.decision-support h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.decision-support p {
  margin-bottom: 10px;
}

.decision-support strong {
  font-weight: bold;
}

.decision-support-list {
  padding-left: 20px; /* Adjust as necessary for your design */
}

.decision-support-list li {
  margin-bottom: 10px;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C2EAEF;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar h2 {
  margin-left: 20px; /* Adjust the left margin as needed */
}

.sidebar ul {
  list-style-type: none; /* Remove bullet points */
  padding-left: 0; /* Align text to the left */
  margin-left: 5px; /* Add some left margin to the entire list */
}



.sidebar a {
  text-align: left; /* Ensure text is aligned left */
  display: block; /* Make the links fill the container for easier clicking */
  margin-bottom: 10px; /* Add space between links */
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

.sidebar a:hover {
  color: #f1f1f1;
}

#main-content {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.table-container {
  width: 100%;
  overflow-x: auto; /* for smaller screens */
}

table {
  width: 100%; /* make table take the full width of its container */
  margin-top: 20px; /* add some space above the table */
  border-collapse: collapse;
}

th, td {
  text-align: left; /* align text to the left side of table cells */
  padding: 8px; /* add some padding inside table cells */
  border: 1px solid #ddd; /* add a border to all sides of the table cells */
}

button.download-csv {
  padding: 10px 20px;
  margin-top: 20px; /* add space above the button */
  cursor: pointer;
}

/* Responsive table */
@media screen and (max-width: 600px) {
  .table-container {
    width: 100%;
  }
  table {
    display: block;
    overflow-x: scroll;
  }
}